<!-- //_robotCard.mustache -->

<article class="userCard">
<div class="card">


  <div class="cardHead">
    <div class="avatar">
      <img class="pic" src="{{avatar}}" alt="{{name}}">
    </div>
    <div class="stats">
      <h1> {{name}} </h1>
      <p> {{location}} | {{company}} </p>
      <p> {{email}} | {{phone}} </p>
    </div>
  </div>
  <div class="hireFor">
    <div class="schools">
      <p> Education: {{university}} </p>
    </div>
    <div class="rSkills">
      <p> Skills: </p>
      <ul>
        <li> {{skills}} </li>
      </ul>
    </div>
  </div>
  <a href="http://localhost:3000/robots/edit/{{_id}}"><button type="button" name="button">Edit</button></a>
</div>
</article>
