<!DOCTYPE html>
<html>
  {{>_head}}
  <body>
    <h1>Create New Robot</h1>
    <form action="/robots" method="POST">
      <input type="text" name="id" value="" placeholder="id">
      <input type="text" name="name" value="" placeholder="Name">
      <input type="text" name="jobTitle" value="" placeholder="Job Title">
      <input type="email" name="email" value="" placeholder="Email">
      <input type="text" name="username" value="" placeholder="username">
      <input type="text" name="avatar" value="" placeholder="Pic (url)">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
